.wrapper {
  // position: fixed;
  display: flex;
  height: 91px;
  justify-content: space-between;
  margin-top: 28px;
  margin-right: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header-logo {
color: #1F2427;
font-family: Manrope;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%;
margin-left: 60px;
}

.navigation-menu-right {
display: flex;
flex-direction: row;
margin-right: 47px;
}

.menu-header-icon {
margin-right: 40px;
width: 24px;
height: 24px;
margin-top: 12px;
}

.admin-info {
  margin-right: 23px;
  padding-top: 2px;

  .admin-name {
  color: var(--black, #1F2427);
  font-family: e-Ukraine;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  }

  .admin-role {
  color: var(--black, #1F2427);
  font-family: e-Ukraine;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  }
}

.admin-avatar {
color: #FFF;
font-family: e-Ukraine;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%;
height: 53px;
width: 53px;
background-color: rgba(177, 224, 178, 1);
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
