.sidenav {
border-radius: 0px 24px 24px 0px;
background: radial-gradient(162.72% 47.97% at 100% 8.75%, rgba(0, 0, 0, 0.57) 0%, rgba(255, 241, 189, 0.57) 0.01%, rgba(255, 235, 163, 0.00) 100%), var(--green, #B1E0B2);
transform: all .5s ease;
position: fixed;
z-index: 1;
top: 0;
width: 290px;
height: 100vh;
box-shadow: 0.063 rem 0;
margin-top: 80px;
.sidenav-nav {

  .sidenav-nav-item {
    height: 62px;
    display: flex;
    padding-left: 32px;
    align-items: center;
    // border-radius: 0px 16px 16px 0px;
    // background: #FCFFF5;


    .sidenav-nav-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--black, #1F2427);

        .sidenav-link-icon {
          width: 30px;
          height: 30px;
          margin-right: 16px;
        }
    }
  }
}


}
